<ion-view view-title="Emprestimo" ng-controller="QrCodeCtrl as vm">
  <ion-content>
    <button class="button button-calm col col-center" ng-click="vm.obtenhaLivro()">
      Ler Qr-Code do livro
    </button>

    <div class="list card" ng-show="!  vm.livro != ''">

      <div class="item item-thumbnail-left">
        <img src="/img/livros-sem-capa.jpg">

        <h2>{{vm.livro.titulo ? vm.livro.titulo : 'Título do livro desconhecido'}}</h2>
        <hr>
        <div ng-if="vm.livro.autores.length">
          <li ng-repeat="autor in vm.livro.autores">
            {{autor.nome}}
          </li>
        </div>
        <div ng-if="!vm.livro.autores.length">
          <li>Autor desconhecido</li>
        </div>
      </div>

      <div class="item item-body">
        <p>{{vm.livro.sinopse ? vm.livro.sinopse : 'Sem sinopsis cadastrada'}}</p>

        <p>
          <a href="#" class="subdued">{{vm.livro.comentarios.length}} Comentários</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#"><i class="icon ion-chatbox"></i>Comentar</a>
        <a class="tab-item" href="#"><i class="icon ion-ios-download"></i>Locar</a>
        <a class="tab-item" href="#"><i class="icon ion-ios-upload"></i>Devolver</a>
      </div>
    </div>

  </ion-content>
</ion-view>
