<ion-view view-title="Consulta">
	<ion-content class="padding">
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Digite o título do livro" ng-model="vm.tituloLivro">
			</label>
			<button class="button button-calm col col-center" ng-click="vm.consultaDisponibilidade()">
				Consultar disponibilidade
			</button>
		</div>

		<div class="card" ng-show="item.livro != ''" ng-repeat="item in vm.estoques">
			<div class="item item-text-wrap">
				<div class="item item-thumbnail-left">
					<img src="img/livros-sem-capa.jpg">

					<h2>{{item.livro.titulo ? item.livro.titulo : 'Título do livro desconhecido'}}</h2>
					<hr>
					<div ng-if="item.livro.autores.length">
						<li ng-repeat="autor in item.livro.autores">
							{{autor.nome}}
						</li>
					</div>
					<div ng-if="!item.livro.autores.length">
						<li>Autor desconhecido</li>
					</div>
					<div>
						<p>Estoque: {{item.disponivel}}</p>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>