<ion-view view-title="Emprestimos">
    <ion-content>
        <button class="button button-calm col col-center" ng-click="vm.obtenhaLivro()">
            Ler Qr-Code do livro
        </button>

        <button class="button button-calm col col-center" ng-click="vm.buscaLivro()">
            Ler Qr-Code do livro
        </button>

        <div class="list card" ng-show="vm.livro != ''">

            <div class="item item-thumbnail-left">
                <img src="img/livros-sem-capa.jpg">
                <!--Quando a capa for implementada no livro-->
                <!--<img ng-src="{{vm.livro.capa}}" style="width: 64px; height: 64px">-->

                <h2>{{vm.livro.titulo ? vm.livro.titulo : 'Título do livro desconhecido'}}</h2>
                <hr>
                <div ng-if="vm.livro.autores.length">
                    <li ng-repeat="autor in vm.livro.autores">
                        {{autor.nome}}
                    </li>
                </div>
                <div ng-if="!vm.livro.autores.length">
                    <li>Autor desconhecido</li>
                </div>
            </div>

            <div class="item item-body">
                <p>{{vm.livro.sinopse ? vm.livro.sinopse : 'Sem sinopsis cadastrada'}}</p>

                <p>
                    <a href="#" class="subdued">{{vm.livro.comentarios.length}} Comentários</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="vm.emprestarLivro()"><i
                        class="icon ion-ios-download"></i>Locar</a>
            </div>
        </div>

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="emprestimo in vm.emprestimos"
                      type="item-text-wrap" href="#/tab/emprestimos/{{emprestimo.id}}">
                <img ng-src="{{emprestimo.face}}">

                <h2>{{emprestimo.name}}</h2>

                <p>{{emprestimo.lastText}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="vm.remove(emprestimo)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
